# .github/workflows/build.yml
name: Build Professional Clipboard Manager for Windows

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # --- تحديث قائمة المكتبات ---
        pip install pyinstaller pyperclip pystray Pillow ttkbootstrap pywin32

    - name: Build with PyInstaller
      run: |
        # --name: تغيير اسم الملف التنفيذي
        pyinstaller --name ClipboardManagerPro --onefile --noconsole --add-data "icon.ico;." clipboard_manager.py

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: clipboard-manager-windows-executable
        path: dist/ClipboardManagerPro.exe
